/* ===============================
            COMMUNS
================================== */

.fa,
.fas {
    display: flex;
    flex-direction: row;
    justify-self: left;
    width: 50%;
    text-decoration: none;
    list-style: none;
    color: #0065FC;
}

.fa {
    padding-bottom: 5px;
}


/* ===============================
            HEADER
================================== */


/* NAVIGATION */

.logo img {
    width: 120px;
    padding-left: 30px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu {
    width: 30%;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
}

.nav-menu ul li a {
    text-decoration: none;
}

.nav-menu .menu:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
    padding-top: 15px;
}

.nav-menu .inscription {
    font-weight: bolder;
    color: #0065FC;
}


/*Midia quérie*/

@media (max-width: 768px) {
    .nav-menu .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


/* TITRE ET SOUS TITRE*/

.titre h2 {
    color: black;
    padding-left: 30px;
}

.titre p {
    color: black;
    padding-bottom: 5px;
    padding-left: 30px;
}


/*RECHERCHE*/

.search .map {
    width: 30px;
    height: 30px;
}

.search {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.search .research {
    width: 100px;
    height: 40px;
    background-color: rgb(88, 88, 255);
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
}

.search input {
    width: 220px;
    height: 40px;
    border: 1px solid rgb(230, 230, 230);
}

.search .map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    background-color: #F2F2F2;
    color: black;
}

.search .map .fas {
    color: black;
}


/*FILTRE*/

.title {
    font-weight: bold;
    margin-left: -8px;
}

.filtre ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 50%;
}

.eco,
.fam,
.rem,
.ani {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(233, 233, 233);
    border-radius: 150px;
    height: 39px;
    width: 140px;
    position: relative;
}

.ani {
    width: 180px;
}

.fam {
    width: 110px;
}

.eco:hover,
.fam:hover,
.rem:hover,
.ani:hover {
    border: 2px solid#F2F2F2;
    border-radius: 150px;
    box-shadow: 0px 1px 1px 1px#9b9b9b;
}

.eco .title-f,
.fam .title-f,
.rem .title-f,
.ani .title-f {
    margin-right: 10px;
    font-weight: bold;
}

.fam .title-f {
    margin-right: 10px;
    font-weight: bold;
}

.rem .title-f {
    margin-right: 10px;
    font-weight: bold;
}

.ani .title-f {
    margin-right: 10px;
    font-weight: bold;
}

.eco a,
.fam a,
.rem a,
.ani a {
    margin: auto;
}

.eco i,
.fam i,
.rem i,
.ani i {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 12px;
    color: #0065FC;
}

.biometric,
.male,
.heart,
.dog {
    margin-top: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    background-color: rgb(172, 211, 255);
    height: 41px;
    width: 41px;
    position: absolute;
    left: -2px;
    top: -1.5px;
}


/*INFO*/

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 30%;
    padding-bottom: 20px;
    padding-left: 10px;
}

.info .fas {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 25px;
    height: 25px;
}


/* ===============================
            MAIN
================================== */


/*HEBERGEMENT MARSEILLE*/

.title-heb {
    padding-left: 30px;
    margin-top: -15px;
}

.hebergement {
    background-color: #F2F2F2;
    width: 60%;
    height: 650px;
    padding: 30px;
    border-radius: 15px;
}

.heb:hover {
    box-shadow: 3px 3px 3px 3px rgb(204, 204, 204);
}

.hotel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.img-h {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 20px 20px 0 0;
}

.img-heb {
    width: 100%;
}

.heb {
    background: white;
    height: 230px;
    border: 3px solid white;
    border-radius: 20px;
}

.heb h3 {
    padding-top: 6px;
    margin-top: 0;
    padding-left: 5px;
}

.heb p {
    margin-top: -17px;
    padding-left: 5px;
}

.heb ul {
    margin-left: -35px;
    margin-top: -13px;
}

.activity {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.heb-4,
.heb-5,
.heb-6 {
    padding-top: 30px;
}

.title-down {
    padding-left: 25px;
    padding-top: 10px;
}


/*LES PLUS POPULAIRE*/

.title-pup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: -40px;
    margin-bottom: -40px;
}

.title-pup .fa {
    color: black;
    font-weight: bold;
    font-size: larger;
}

.populaire {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F2F2F2;
    width: 23%;
    padding: 30px;
    border-radius: 15px;
}

.img-pup {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.img-p {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.image-1 {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.image-1:hover {
    box-shadow: 3px 3px 3px 3px rgb(204, 204, 204);
}

.populaire .image-1 p {
    margin-top: -15px;
    padding-left: 10px;
}

.populaire .image-1 h3 {
    padding-left: 10px;
}

.star {
    display: flex;
    list-style: none;
    margin-left: -26px;
    margin-top: 40px;
}

.txt-p {
    margin-bottom: -20px;
}


/*ACTIVITE A MARSEILLE*/

.activity-marseille {
    padding: 30px 0 30px 0;
}

.activity-marseille h2 {
    padding-left: 30px;
}

.img-1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 350px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.img-act-1 {
    height: 100%;
}

.img-2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 135px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.img-act-2 {
    width: 100%;
}

.act {
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-radius: 25px;
}

.act:hover {
    box-shadow: 3px 3px 3px 3px rgb(158, 158, 158);
}

.act h3 {
    padding-left: 10px;
}

.act .title-act {
    height: 30px;
}

.act-2 {
    padding-top: 30px;
}


/* ===============================
            FOOTER
================================== */

.footer {
    padding-top: 50px;
}

.main-footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 150px;
    margin-left: -300px;
}

.footer-2 {
    margin-left: -150px;
}

.footer-3 {
    margin-left: -150px;
}